/* Start Variables */
:root {
    --main-color: #19c8fa;
    --trasparent-color: rgb(15 116 143 / 70%);
    --section-padding: 5rem;

}
/* End Variables */
/* Start Globals */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
/* Small */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
/* End Globals */
/* Start Components */
.grid-auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
}
.main-heading {
    text-align: center;
    max-width: 566px;
    margin: auto;
}
.special-heading {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 8rem;
    position: relative;
    display: inline-block;
}
.special-heading::after {
    content: '';
    position: absolute;
    top: calc(100% + 25px);
    left: 25px;
    right: 25px;
    height: 1px;
    background: #333;
}
.special-heading::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #333;
    top: calc(100% + 25px - 7.5px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.special-heading + p {
    font-size: 1.7rem;
    color: #777;
    line-height: 2;
    margin-bottom: 7rem;
}
/* End Components */
/* Start Header */
header {

    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 9.7rem;
}
header .container::before {
    content: '';
    position: absolute;
    height: 1px;
    right: 1.5rem;
    left: 1.5rem;
    bottom: 0;
    background: #fff;
}
header .logo img {
    height: 40px;
}
nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
nav .toggle-menu {
    color: #fff;
    font-size: 2.2rem;
}
@media (min-width: 768px) {
    nav .toggle-menu {
        display: none;
    }
}
nav ul {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    nav ul { 
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
        background-color: rgb(0 0 0 / 50%);
        z-index: 6;
    }
    nav .toggle-menu + ul li a {
        padding: 1.5rem !important;
    }
}
nav .toggle-menu + ul.active {
    opacity: 1;
}
nav ul li {
    font-size: 1.4rem;
    
}
nav ul li a {
    padding: 4rem 1rem;
    color: #fff;
    font-weight: normal;
    transition: 250ms ease-in-out;
    display: block;
    position: relative;
    z-index: 2;
}
nav ul li a.active, nav ul li a:hover{
    color: var(--main-color);
    position: relative;
}
nav ul li a.active::before, nav ul li a:hover::before {
    content: '';
    position: absolute;
    height: 1px;
    right: 5px;
    left: 5px;
    background: var(--main-color);
    top: 99%;
}
nav .form {
    position: relative;
    flex-basis: 4rem;
    height: 3rem;
    margin-left: 3rem; 
    border-left: 1px solid #fff;
}
nav .form i {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    position: relative;
}
 .landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 60%);
    
 }
 .landing .text {
    color: #fff;
    position: absolute;
    background-color: var(--trasparent-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 5rem;
    display: flex;
    justify-content: flex-end;
 }
 .landing .text .content {
     max-width: 50rem;
     
    }
    @media (max-width: 767px) {
       .landing .text {
           width: 100%;
         
       }
       .landing .text .content {
        max-width: 100%;
       
       }
    }
 .landing h2 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 2rem;
 }
 .landing p {
    font-size: 1.4rem;
    line-height: 2;
 }
 @media (max-width: 424px) {
    .landing h2 {
        font-size: 2.2rem;
    }
    .landing p {
        font-size: 1rem;
    }
 }
 .change-background {
    color: #fff;
    position: absolute;
 }
 @media (max-width: 767px) {
    .change-background {
        display: none;
    }
 }
 .landing i:first-of-type {
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
 }
 .landing i:nth-of-type(2) {
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
 }
 .landing .bullets {
    position: absolute;
    bottom: 3rem;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
 }
 .landing .bullets li {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    margin-left: 1rem;
 }
 .landing .bullets li.active {
    background-color: var(--main-color);
 }
/* End Landing */
/* Start Services */
.service .text h3 {
    font-size: 1.9rem;
    color: var(--main-color);
    margin-bottom: 3rem;
}
.service .text p {
    font-size: 1.6rem;
    color: #777;
    line-height: 2;
}
.service i {
    font-size: 4.5rem;
    flex-basis: 25rem;
}
.service {
    display: flex;
}
.services-wrapper {
    place-content: center;
}
@media (max-width: 424px) {
    .service {
        max-width: 300px;
        margin: auto;
    }
}
@media (max-width: 767px) {
    .service {
        flex-direction: column;
        align-items: center;
    }
    .service i {
        flex-basis: 75px;
    }
    .service h3, .service p {
        text-align: center;
    }
    
}
/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url("../images/design-features.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.design__text {
    background-color: var(--trasparent-color);
    color: #fff;
    padding: 5rem;
    line-height: 1.5;
   
}
.design__text h2 {
    font-weight: normal;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.design__text ul {
    padding: 0 2rem;
}
.design__text li {
    font-size: 1.6rem;
}
.design__text li:not(:last-child) {
    margin-bottom: 2rem;
}
.design__text li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
.design__text, .design__img {
    position: relative;
    flex: 1;
    z-index: 2;
}
.design__img {
    bottom: -120px;
    text-align: center;
}
@media (max-width: 767px) {
    .design__img {
        display: none;
    }
}
img {
    max-width: 100%;
}
/* End Design */
/* Start Portfolio */
.portfolio__shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}
.portfolio__shuffle li {
    color: #000;
    font-size: 1.6rem;
    padding: 0.65em;
}
.portfolio__shuffle li.active {
    color: #fff;
    background-color: var(--main-color);
}
.portfolio__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
    margin-bottom: 3rem;
}
@media (min-width: 900px) {
    .portfolio__items {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) {
    .portfolio__items {
        grid-template-columns: repeat(4, 1fr);
    }
}
.portfolio__item {
    position: relative;
    overflow: hidden;
}
.portfolio__item h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.portfolio__item p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.portfolio__item img {
    position: relative;
    transition: transform 250ms ease-in-out;
    min-width: 100%;
}
.portfolio__item .caption {
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: #fff;
    width: 100%;
    transition: bottom 250ms ease-in-out;
}
.portfolio__item:hover img {
    transform: rotate(3deg) scale(1.1);
}
.portfolio__item:hover .caption {
    bottom: 0;
}
.more {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1em 2em;
    background-color: var(--main-color);
    text-decoration: none;

}

/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5rem;
    bottom: 5rem;
    width: 100%;
    background-color: rgb(0 0 0 / 40%);
} 
.video video {
    max-width: 100%;
    min-width: 100%;
}
.video__text {
    position: absolute;
    background-color: var(--trasparent-color);
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 5rem 0;
    color: #fff;
}
.video__text h2 {
    font-size: 2.6rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 3rem;
}
.video__text p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.video__text button {
    color: #fff;
    background-color: #000;
    font-size: 1.6rem;
    padding: 0.5em 1.5em;
    border: none;
    text-transform: uppercase;

}
/* End Video */
/* Start About */
.about {
    overflow: hidden;
    text-align: center;
    padding-bottom: 0;
}
.about__img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}
@media (max-width: 767px) {
    .about__img {
        bottom: -60px;
        margin-top: -60px;
    }
}

.about .main-heading p {
    margin-bottom: 100px;
}
/* End About */
/* Start Stats */
.stats {
    background-image: url('../images/stats.png');
    background-size: cover;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.stats__items {
    position: relative;
    z-index: 1;
    display: flex;
    background-color: var(--trasparent-color);
    margin: 10rem auto;
    flex-wrap: wrap;
}
.stats__item {
    text-align: center;
    flex: 1;
    padding: 5rem;
}
/* Mobile-First Work Flow */
@media (max-width: 767px) {
    .stats__item {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats__item {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats__item {
        flex-basis: 25%;
    }
}

.stats__item i {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    position: relative;
}
.stats__item i::after {
    content: '';
    position: absolute;
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.stats__text h2 {
    font-size: 4.5rem;
    margin-bottom: 3rem;
}
.stats__text p {
    font-size: 1.6rem;
}

/* End Stats */
/* Start Skills */
.our-skills__content {
    display: flex;
    justify-content: space-between;
}
.our-skills__testimonials {
    flex-basis: 45%
}
.our-skills__skills {
    flex-basis: 45%;
}
@media (max-width: 990px) {
    .our-skills__content {
        flex-direction: column;
    }
    .our-skills__testimonials {
        margin-bottom: 5rem;
    }
}
.sub-heading {
    text-align: center;
    margin-bottom: 7rem;
}
.sub-heading h3 {
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.sub-heading p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777
}
.user {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
@media (max-width: 768px) {
    .user {
        flex-direction: column;
    }
    .user img {
        margin-bottom: 2rem;
    }
    .user__text {
        text-align: center;
    }
}
.user img {
    width: 100px;
    border-radius: 50%;
    
}
.user__text {
    flex: 1;
    margin-left: 5rem;
    border-bottom: 1px solid #ddd;
}
.user__text p {
    line-height: 2;
    font-size: 1.6rem;
}
.user__text p:nth-of-type(2) {
    text-align: right;
    color: #777;
    margin-bottom: 1rem;
}
.our-skills .bullets {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.our-skills .bullets li {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-left: 1rem;
}
.our-skills .bullets li.active {
    background-color: var(--main-color);
}
.progress-holder__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.progress-holder__bar {
    background-color: #ddd;
    height: 30px;
    margin-bottom: 3rem;
}
.progress-holder__bar span {
    background-color: var(--main-color);
    display: inline-block;
    height: 100%;
    position: relative;
}
.progress-holder__bar span::before {
    content: attr(data-progress);
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    position: absolute;
    bottom: calc(100% + 20px);
    right: -18px;
}
.progress-holder__bar span::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: black transparent transparent transparent;
    border-style: solid;
    position: absolute;
    bottom: calc(100% + 3px);
    right: -8px;
}
/* End Skills */
/* Start Quote */
.quote {
    background-color: #333;
    background-image: url('../images/quote.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    color: #fff;
    text-align: center;
    padding: 10rem 0;
}
q {
    font-size: 3rem;
    display: block;
    margin-bottom: 2rem;
}
.quote span {
    font-size: 1.5rem;
}
/* End Quote */
/* Start Pricing */
.pricing__box {
    background-color: #f7f7f7;
    
}
.pricing__box__head {
    text-align: center;
    padding: 4rem 0;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing__box__head h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.pricing__box__head .price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}
.price .unit {
    font-size: 3rem;
    align-self: flex-start;
    margin-right: 1rem;
}
.price .number {
    font-size: 6rem;
    font-weight: bold;
    margin-right: 1rem;
}
.price .time-frame {
    font-size: 2rem;
    font-weight: bold;
}
.pricing__content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    margin-bottom: 5rem;
}
.pricing__box__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 3rem;
}
.pricing__box__body li {
    padding: 2rem;
    font-size: 1.6rem;
}
.pricing__box__body li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.pricing__box__foot {
    display: flex;
    justify-content: center;
}
.pricing__box__foot a {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    border: 1px solid var(--main-color);
    padding: 1em;
}
.special-request {
    text-align: center;
    font-size: 2rem;
}
.special-request p {
    margin-bottom: 3rem;
}
.special-request a {
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.6rem;
    padding: 0.7em 1.7em;
}
/* End Pricing */
/* Start Subscription */
.subscribe {
    background-color: #333;
    background-image: url('../images/subscribe.jpg');
    background-size: cover;
    position: relative;
    padding: 10rem 0;
}
.subscribe::before {
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0 0 0 / 40%);
}
.subscription__content {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
    font-size: 1.6rem;
}
@media (max-width: 991px) {
    .subscription__content {
        flex-direction: column;
    }
}
.subscribe form {
    display: flex;
    position: relative;
    width: 50rem;
    max-width: 100%;
}
.subscribe form i {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5rem;
}
.subscribe form input[type='email'] {
    border: 1px solid #fff;
    background: none;
    padding: 2rem 2rem 2rem 6rem;
    caret-color: var(--main-color);
    width: calc(100% - 13rem);
    border-right: none;
}
.subscribe form input[type='submit'] {
    width: 13rem;
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    border-left: none;
}
.subscribe form input[type='email']:focus,
.subscribe form input[type='submit']:focus {
    outline: none;
}
.subscribe form ::placeholder {
    color: #fff;
}
.subscribe p {
    color: #fff;  
    line-height: 2;
    margin-left: 5rem;
}
@media (max-width: 991px) {
    .subscribe p {
        margin: 3rem 0 0;
    }
}
/* End Subscription */
/* Start Contact */
.contact__content {
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
}
.contact form {
    flex-basis: 60%;
}
.contact .info {
    flex-basis: 35%;
}
.contact input, .contact textarea {
    width: 100%;
    margin-bottom: 3rem;
    padding: 2.5rem 1rem; 
    border: none;
    border: 1px solid #ddd;
}
.contact input[type='submit'] {
    font-size: 2rem;
    text-transform: uppercase;
    width: fit-content;
    display: block;
    margin-left: auto;
    color: #fff;
    padding: 1.5em;
    background-color: var(--main-color);
}
.contact textarea {
    height: 200px;
}
.contact .info {
    font-size: 2rem;
    color: #777;
}
.contact .info h4 {
    font-weight: normal;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: #000;
}
.contact .info h4:nth-of-type(2) {
    margin-top: 9rem;
}
.contact .info .phone {
    display: block;
    
}
.contact address {
    line-height: 2;
}
/* End Contact */